{% extends 'base.html.twig' %}

{% block title %}Equipement index{% endblock %}

{% block body %}
    <h1>Equipement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Statut</th>
                <th>Commune</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Web</th>
                <th>Code_postal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipement in equipements %}
            <tr>
                <td>{{ equipement.id }}</td>
                <td>{{ equipement.name }}</td>
                <td>{{ equipement.statut }}</td>
                <td>{{ equipement.commune }}</td>
                <td>{{ equipement.adresse }}</td>
                <td>{{ equipement.telephone }}</td>
                <td>{{ equipement.web }}</td>
                <td>{{ equipement.codePostal }}</td>
                <td>
                    <a href="{{ path('equipement_show', {'id': equipement.id}) }}">show</a>
                    <a href="{{ path('equipement_edit', {'id': equipement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('equipement_new') }}">Create new</a>
{% endblock %}
