{% extends 'base.html.twig' %}

{% block title %}Equipement{% endblock %}

{% block body %}
    <h1>Equipement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipement.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ equipement.name }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ equipement.statut }}</td>
            </tr>
            <tr>
                <th>Commune</th>
                <td>{{ equipement.commune }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ equipement.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ equipement.telephone }}</td>
            </tr>
            <tr>
                <th>Web</th>
                <td>{{ equipement.web }}</td>
            </tr>
            <tr>
                <th>Code_postal</th>
                <td>{{ equipement.codePostal }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('equipement_index') }}">back to list</a>

    <a href="{{ path('equipement_edit', {'id': equipement.id}) }}">edit</a>

    {{ include('equipement/_delete_form.html.twig') }}
{% endblock %}
