{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container-fluid">
<h1>Bienvenue sur les site des équipements culturels de Nantes</h1>
</div>
{% endblock %}